@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header {
  background: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 20px;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
.next{
  color:rgb(47 205 167);
  font-size: 20px;
}
